<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Main Page</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Menu</h1>
        <h2>Please Select an Item</h2><br><br><br>
        <div class="row">
          <div class="col-md-6">
            <a href='/WordCounter/new'>Tap here to use WordCounter</a>
          </div>
          <div class="col-md-6">
            <a href='/Tamagotchi/new'>Tap here to play Tamagotchi game</a>
          </div>
        </div><br><br>
        <div class="row">
          <div class="col-md-6">
            <h2>Description</h2>
            <p>This program will get a word and a sentence from you.</p>
            <p>Then it count how many times your word repeated in your sentence.</p>
          </div>
          <div class="col-md-6">
            <h2>Description</h2>
            <p>By pushing the line, it will provide you a form to create your pet</p>
            <p>Your pet need food, attention and energy</p>
            <p>The max amount of hunger,attention and energy is 100</p>
            <p>Your pet will start with 50 point on every stat.</p>
            <p>Every 3 second your pet will loose 1 stat on everything</p>
            <p>You can Increase its stat by using items</p>
            <p>But BEWARE, every item will decrease other stats a bit as well.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
