<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello</title>
  </head>
  <body>
    <h1>Tamagotchi</h1>

    <form action="/tamagotchi" method="post">
      <label for="name">Enter the name of your pet</label>
      <input id="name" name="name" type="text">

      <button type="submit">Submit</button>
    </form>

  </body>
</html>
